@import './Variables.scss';
@import './Mixins.scss';

.input-container {
    display: flex;
    align-items: center;

    label {
        flex: 2
    }

    input {
        @include inputStyle(7);
    }
}

.select-container {
    display: flex;
    align-items: center;

    label {
        flex: 2;
        margin-top: 15px;
    }

    select {
        @include selectStyle(6);
        padding: 8px;
    }
}

.text-area-container {
    display: flex;
    align-items: center;

    label {
        flex: 2;
        margin-top: 15px;
    }

    textarea {
        @include textAreaStyle(7);
        padding: 10px;
    }
}

#product_form {
    display: flex;

    div {
        flex: 1;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1060px) {

    .input-container,
    .select-container,
    .text-area-container {
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 650px) {
    form {
        flex-direction: column;
    }
}

.error-message {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 13px;
    color: red;
    margin-bottom: 10px;
}