@mixin buttonStyle($color, $hoverBg) {
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
    background-color: $color;
    height: 35px;
    margin-right: 15px;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus,
    &:active{
        background: $hoverBg;
    }
}
