$pageColor: magenta;
$primaryButton: rgb(11, 11, 232);
$primaryHoverButton: rgb(7, 7, 144);
$dangerButton: red;
$dangerHoverButton: rgb(168, 2, 2);
$greyButton: #888;
$greyHoverButton: #444;
$whiteColor: #fff;
$borderColor: #ced4da;
$boxShadow: 0 0 0 0.2rem #BFDEFF;