* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  label {
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
    color: #212529;
  }
}